html {
  height:100%;
  font: Helvetica;
}

html body {
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#header-container {
  text-align: right;
}

body h1 {
  font-size: 100px;
  float: right;
  padding-right: 20px;
  color: red;

}
h2 {
  color: red;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100em;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: bottom;
  max-width: 35em;
}
