html {
  height:100%;
  background-color: #f5f9f4;
  font: Helvetica;
}

html body {
  height: 100%;
  overflow: hidden;
}

#header-container {
  text-align: right;
}

body h1 {
  font-size: 100px;
  color: red;
  font-style:
}
